@inherits LayoutComponentBase

<div class="main-container">
    <header class="top-nav">
        <NavMenu></NavMenu>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
