@namespace PantryPilot.Components.Layout
@using MudBlazor
@inherits LayoutComponentBase

@* Enables the MudBlazor elements to apply and display throughout the app *@
<MudThemeProvider></MudThemeProvider>

<div class="main-container">
    <header class="top-nav">
        <NavMenu></NavMenu>
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
