.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-nav {
    background-color: #636CA8;
    color: white;
    padding: 0;
    border: none;
}

.content {
    padding-top: 1.5rem;
}