@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PantryPilot</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @* Match.All means it only highlights if the URL is exactly "/" *@
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @* Match.All means it only highlights if the URL is exactly "/" *@
                    <NavLink class="nav-link" href="/menu">
                        Menu
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @* Match.All means it only highlights if the URL is exactly "/" *@
                    <NavLink class="nav-link" href="/addrecipe">
                        Add Recipe
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @* Match.All means it only highlights if the URL is exactly "/" *@
                    <NavLink class="nav-link" href="/recipelist">
                        Recipe List
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @* Match.All means it only highlights if the URL is exactly "/" *@
                    <NavLink class="nav-link" href="/grocerylist">
                        Grocery List
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
