@using BlazorApp.Components.ReusableUI
@* This is the side-bar containing the Navigation Menu *@

<div class="navbar px-3">
    @* Brand on the left *@
    <a class="navbar-brand" href="">PantryPilot</a>

    @* Right aligned section for Search and Links *@
    <div class="nav-elements ms-auto d-flex align-items-center">

        @* Main Navigation Links *@
        <nav class="d-flex align-items-center me-4">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="menu">Menu</NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="grocerylist">Groceries</NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="recipelist">Recipes</NavLink>
            </div>
        </nav>

        @* Search Bar with a specific width constraint *@
        <div class="header-search">
            <SearchDropdown CustomClass="rounded-search m-0 p-0" />
        </div>
    </div>
</div>
