/* CSS for the DayMenuPanel*/

.day-menu-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.day-title {
    margin-bottom: 0.5rem;
}

.day-meals {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%
}