@* This is the drag source for the
   drag and drop functionality *@

@using PantryPilot.Components.Pages
@using PantryPilot.Models

<div class="recipe-list">
   @if (Recipes is null || !Recipes.Any())
    {
        <p><em>No recipes available</em></p>
    }
    else
    {
        @foreach (var recipe in Recipes)
        {
            <div class="recipe-list-card"
                 draggable="true"
                 @ondragstart="() => OnDragStarted.InvokeAsync(recipe.Id)">

                <div class="recipe-list-card-header">
                    <button type="button"
                            class="recipe-list-link"
                            @onclick="() => OnRecipeClicked.InvokeAsync(recipe.Id)">
                         @recipe.Name   
                    </button>
                </div>

                <div class="recipe-list-meta">
                    <span>Prep: @recipe.PrepTime</span>
                    <span>Cook: @recipe.CookTime</span>
                    <span>Servings: @recipe.Servings</span>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter] public List<Recipe> Recipes { get; set; } = new();
    [Parameter] public EventCallback<int> OnDragStarted { get; set; }
    [Parameter] public EventCallback<int> OnRecipeClicked { get; set; }
}