
<div class="feature-card">
    <h3>@SectionTitle</h3>

    @if (Ingredients != null)
    {
        <ul>@foreach (var ingredient in Ingredients)
            {
                <li>@ingredient</li>
            }
        </ul>
    }
</div>

@code {
    [Parameter]
    public string? SectionTitle { get; set; }
    [Parameter]
    public IEnumerable<string?> Ingredients { get; set; }
}