@page "/grocerylist"
@rendermode InteractiveServer // for the header navigation

@* Added to prevent non-authenticated users
   from viewing this page *@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize];
@inject NavigationManager NavigationManager

<PageTitle>GroceryList</PageTitle>

<h1>Groceries</h1>

<p>Display ingredients for recipes</p>

@code {
    
}
