@page "/grocerylist"
@rendermode InteractiveServer // for the header navigation

@* Added to prevent non-authenticated users
   from viewing this page *@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize];
@inject NavigationManager NavigationManager

<PageTitle>GroceryList</PageTitle>

<div class="main-page-bg">
   <div class="hero-container">
      <div class="content-container">
         <h1>Grocery List &#128722</h1>
      </div>
   </div>

   <div class="content-container">
      <SearchDropdown CustomClass="rounded-search m-0 p-0" />
      <div class="card-grid">
         <SectionList></SectionList>
      </div>
   </div>
</div>

@code {
    
}
