@page "/grocerylist"
@rendermode InteractiveServer // for the header navigation

@* Added to prevent non-authenticated users
   from viewing this page *@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize];
@inject NavigationManager NavigationManager

<PageTitle>GroceryList</PageTitle>

<h1>Grocery List &#128722</h1>

<SearchDropdown CustomClass="rounded-search m-0 p-0" />

<SectionList></SectionList>

@code {
    
}
