@page "/"
@rendermode InteractiveServer // for the header navigation
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="main-page-bg">          @* covers the whole background *@
    <div class="hero-container">    @* the header section *@
        <h1 class="content-container">
            All of your favorite recipes in one place
            <button class="hero-button">Get Started</button>
        </h1>
    </div>

    @* separated the welcome message and card grid *@
    <div class="content-container">
        <h3>Welcome to PantryPilot</h3>

        <p>We aim to help you organize some of the chaos in your life 
            by providing this easy access meal prep guide. Because 
            your time matters.
        </p>
    </div>

    <div class="content-container">
        <p>Enjoy features like</p>
        <div class="card-grid">
            <div class="feature-card">Save recipes in one location</div>
            <div class="feature-card">Add your own recipes</div>
            <div class="feature-card">Meal suggestions</div>
            <div class="feature-card">Plan meals</div>
            <div class="feature-card">Recipe shopping lists</div>
            <div class="feature-card">And more!</div> 
        </div>
    </div>
</div>

@code{
    
}
