@page "/"
@rendermode InteractiveServer // for the header navigation
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<button class="btn btn-primary" @onclick="GoToMenu">Menu</button>
<button class="btn btn-primary" @onclick="GoToAddRecipe">Add Recipe</button>
<button class="btn btn-primary" @onclick="GoToRecipeList">Recipes</button>
<button class="btn btn-primary" @onclick="GoToGroceryList">Groceries</button>

@code{
    private void GoToMenu()
    {
        NavigationManager.NavigateTo("/menu");
    }
    private void GoToAddRecipe()
    {
        NavigationManager.NavigateTo("/addrecipe");
    }

    private void GoToRecipeList()
    {
        NavigationManager.NavigateTo("/recipelist");
    }

    private void GoToGroceryList()
    {
        NavigationManager.NavigateTo("/grocerylist");
    }
}
