@page "/"
@rendermode InteractiveServer // for the header navigation
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1 style="width: 50%; margin: 0 auto; text-align: left;">
    All of your favorite recipes in one place
    </h1>

<div style="width: 50%; margin: 0 auto; text-align: left;">
    <h3>Welcome to PantryPilot</h3>

    <p>We aim to help you organize some of the chaos in your life 
        by providing this easy access meal prep guide. Because 
        your time matters.
    </p>
</div>

<div style="width: 50%; margin: 0 auto; text-align: left;">
    <p>Enjoy features like</p>
    <ul>
        <li>Saving recipes in one location</li>
        <li>Adding your own recipes</li>
        <li>Meal suggestions</li>
        <li>Meal planning</li>
        <li>Shopping lists for individual recipes</li>
        <li>And more!</li>
    </ul>
</div>

@code{
    
}
