@page "/logout"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using PantryPilot.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<p>Signing out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}