@page "/menu"
@rendermode InteractiveServer // for the header navigation
@inject NavigationManager NavigationManager

<PageTitle>Menu</PageTitle>

<h1>Menu</h1>

<p>Welcome to PantryPilot</p>

@code {
    
}
