@page "/menu"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Menu</PageTitle>

<h1>Menu</h1>

<p>Welcome to PantryPilot</p>

@code {
    private void GoToAddRecipe()
    {
        NavigationManager.NavigateTo("/addrecipe");
    }
}
