@page "/menu"
@using PantryPilot.Components.ReusableUI
@rendermode InteractiveServer

@* Added to prevent non-authenticated users
   from viewing this page *@
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize];

@* These are needed for menu planning feature *@
@using PantryPilot.Models
@using PantryPilot.Components.MenuPlanner
@using PantryPilot.Services.Interfaces
@using System.ComponentModel.Design

@inject IRecipeService RecipeService
@inject IMenuService MenuService
@inject NavigationManager NavigationManager

<PageTitle>Menu</PageTitle>

<h3>Menu</h3>

<div class="planner-layout">
    <RecipeList Recipes="recipes"   
                OnDragStarted="HandleDragStarted" />

    <div class="menu-container">
        <header class="menu-header">
            <p class="tagline">Tagline</p>
            <h1 class="main-title">Menu</h1>
            <p class="description">Drag recipes into Breakfast, Lunch, and Dinner.</p>

            <div class="view-switcher">
                <button class="view-btn active">Daily</button>
                <button class="view-btn">Weekly</button>
                <button class="view-btn">Monthly</button>
            </div>

            <p class="current-date">Date: <span>@selectedDate.ToString("MMMM d, yyyy")</span></p>
        </header>

        <div class="meal-grid">
            <MealCard Date="selectedDate"
                    MealType="MealType.Breakfast"
                    RecipeId="menuDay?.BreakfastRecipeId"
                    OnRecipeDropped="HandleRecipeDropped"
                    OnRecipeClicked="HandleRecipeClicked"/>
            
            <MealCard Date="selectedDate"
                    MealType="MealType.Lunch"
                    RecipeId="menuDay?.LunchRecipeId"
                    OnRecipeDropped="HandleRecipeDropped"
                    OnRecipeClicked="HandleRecipeClicked" />
            
            <MealCard Date="selectedDate"
                    MealType="MealType.Dinner"
                    RecipeId="menuDay?.DinnerRecipeId"
                    OnRecipeDropped="HandleRecipeDropped"
                    OnRecipeClicked="HandleRecipeClicked" />
        </div>

        <RecipeDetailsPanel SelectedRecipe="selectedRecipe" />
    </div>
</div>

@code {
    
}
