@page "/addrecipe"
@rendermode InteractiveServer // for the header navigation
@inject NavigationManager NavigationManager

<PageTitle>AddRecipe</PageTitle>

<h1>Add Recipe</h1>

<p>Fill out a form to add a recipe to the list</p>

@code {

}
