@page "/recipelist"
@rendermode InteractiveServer // for the header navigation
@inject NavigationManager NavigationManager

<PageTitle>RecipeList</PageTitle>

<h1>Recipes</h1>

<p>List all recipes</p>

@code {

}
